@model GarbageDay.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressBook.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressBook.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressBook.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressBook.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressBook.customerZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressBook.customerZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pickup_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pickup_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
